:root {
--brand-color:#434455;
--fon-text-color:#FFFFFF;
--logo-color:#4D5AE5;
--active-color:#404BBF;
--secondary-color:#2E2F42;
--text-footer-color:#F4F4FD;
--border-portfolio-color:#E7E9FC;
--box-shadow-hero-bt-color:0px 4px 4px rgba(0, 0, 0, 0.15);
--box-shadow-comando-card-color: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
--color-icons:#8e8f99;
--color-icons-activ-footer:#31D0AA;
--box-shadow-portfolio-button:0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
--color-hero-gradient:rgba(46, 47, 66, 0.7);
--modal-fon:#FCFCFC;
--box-shadow-modal: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
--border-modal-btn:rgba(0, 0, 0, 0.10);
--background-backgrop: rgba(46, 47, 66, 0.4);
--form-border-color:rgba(46, 47, 66, 0.40);
--border-color-click-hover:#9747FF;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:var(--brand-color) ;
    background-color: var(--fon-text-color);
  } 
h1,h2,h3,p {
    margin-top: 0;
	margin-bottom: 0;
  }
ul {
    margin-top: 0;
	margin-bottom: 0;
    padding-left: 0;
  }
img {
    display: block;
  }
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    margin: -1px;
  }
.container {
    min-width: 320px;
    max-width: 428px;
    margin-right: auto;
    margin-left: auto; 
    padding-right: 16px;
    padding-left: 16px;  
    
}
/* Tablet-screen */
@media screen and (min-width:768px) {
.container {
    max-width: 768px;
    } 
}
/* Desktop-scren */
@media screen and (min-width:1158px) {
.container {
    max-width: 1158px; 
    padding-right: 15px;
    padding-left: 15px; 
    } 
}
  /* header */

.nav-menu {
    display: none;
    
    } 
@media screen and (min-width:768px) {
.nav-menu {
    display: flex;
    align-items: baseline;
    margin-right: 120px;
    align-items: center;
        } 
    }
@media screen and (min-width:1158px) {
.nav-menu {
    margin-right: auto;
                } 
            }  

.header {
    width: 428px;
    display: flex;
    align-items: baseline; 
    padding-top: 25px;
    padding-bottom: 25px;
    
    }
@media screen and (min-width:320px) and (max-width:767.98px) {
.header {
    justify-content: space-between;
     } 
        }    

@media screen and (min-width:768px) {
.header {
    width: 768px;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;

          } 
            }
@media screen and (min-width:1158px) {
.header {
   width: 1158px;
         } 
     }       
.header-section {
    border-bottom: 1px solid var(--border-portfolio-color);
    box-shadow: var(--box-shadow-comando-card-color);
    }
@media screen and (max-width:768px) and (max-width:1158px) {
.header-section {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;

         } 
     }  
       
.logo {
    color: var(--logo-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    text-decoration: none;
    display: inline-block; 
 }
.logo-header {
    color: var(--secondary-color);      
}

@media screen and (min-width:768px) {
.link.logo {
    margin-right: 120px;
     } 
 } 
@media screen and (min-width:1158px) {
.link.logo {
    margin-right: 76px;
     } 
 }       
.list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }
@media screen and (min-width:1158px) {
.list{
    gap: 24px;
        }
.heder-link-desktop {
    gap: 40px;
}
}           
.link {
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    transition-property: color;
}
.link-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.72px;
    color: var(--secondary-color);    
    display: block;
}
@media screen and (min-width:768px) {
.link-header.link {
    
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;  
    padding-top: 24px;
    padding-bottom: 24px;
    }
 } 
@media only screen and (min-width: 768px) {
.heder-link-tablet {
    display:flex;
    gap: 40px;
    flex-wrap: nowrap;
  }

}
.active {
    position: relative;
    color: var(--active-color);
}
.active::after {
    display: none;
}
@media screen and (min-width:768px) {
    
.active::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    left: 0;
    background-color: var(--active-color); 
    content: "";
    bottom: -1px;
    
    }
 } 
.link:hover,
.link:focus {
    color: var(--active-color);
}
.contact {  
    font-style: normal;
    gap: 40px;
    display: none;
}
@media screen and (min-width:768px) {
.contact {
    display: block;

      } 
        }

@media screen and (min-width:768px) {
.link-contact  {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.48px;
    color: var(--brand-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    transition-property: color;
      }  
        } 
@media only screen and (min-width: 768px) and (max-width: 1158px) {
.link-contact-tablet {
    margin-bottom: 12px;
    }     
}        

 @media screen and (min-width:1158px) {
.link-contact  {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
      } 
        } 
.link-contact:hover,
.link-contact:focus {
    color: var(--active-color); 
}

/* hero section */

.hero-section {
    background-color: var(--secondary-color);
    max-width: 100%;
    text-align: center;
    padding-top: 112px;
    padding-bottom: 112px;
    background-position: 50% 50%;
    margin: auto;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/people-office_mob@1x.jpg);
}

 @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
.hero-section{
        
    background-image: linear-gradient(
    to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
  url(../images/people-office_mob@2x.jpg);
    
  }
} 

@media only screen and (min-width: 429px) {
.hero-section {
    background-image: linear-gradient(
            to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
          url(../images/people-office_tablet@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-section{
        
    background-image: linear-gradient(
    to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
  url(../images/people-office_tablet@2x.jpg);
    
  }
} 
}
 
@media only screen and (min-width: 769px) {
  .hero-section {
    background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/people-office_desktop@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-section{
        
    background-image: linear-gradient(
    to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
  url(../images/people-office_desktop@2x.jpg)
    
  }
} 
}

@media only screen and (min-width: 1158px) {
.hero-section {
    padding-top: 188px;
    padding-bottom: 188px;
  }
}
.hero-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; 
    letter-spacing: 0.72px;
    color: var(--fon-text-color);
    letter-spacing: 0.02em;
    margin: 0 auto;
    max-width: 320px;
      }
@media only screen and (min-width: 768px) {
  
.hero-title  {
    font-size: 56px;
    line-height: 1.07; 
    max-width: 496px; 
  }
}     
.hero-button {
    font-family: 'Roboto', sans-serif;
    background: var(--logo-color);
    color: var(--fon-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    box-shadow: var(--box-shadow-hero-bt-color);
    border-radius: 4px;
    margin-top: 72px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    border: none; 
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    transition-property: background-color;
}
.hero-button:hover,
.hero-button:focus {
    background: var(--active-color);
}

@media only screen and (min-width: 768px) {
.hero-button {
    margin-top: 36px;
  }
}
@media only screen and (min-width: 1158px) {
.hero-button {
    margin-top: 48px;
    }
  }
  

/* features-section */

.features-menu {
    max-width: 396px;
    } 
.features-menu-item {
    gap: 72px 24px;
    
    }
@media screen and (min-width:768px) {
.features-menu {
    max-width: 356px;
    display: flex;
    flex-wrap: wrap;
        }  
    } 
@media screen and (min-width:1158px) {
.features-menu {
    max-width: 264px;
        }  
    } 
.features {
    padding-top: 96px;
    padding-bottom: 96px; 
    }
@media screen and (min-width:768px) {
    .features {
    padding-top: 96px;
    padding-bottom: 96px; 
    }
}
@media screen and (min-width:1158px) {
.features {
    padding-top: 120px;
    padding-bottom: 120px;
    }
}
.container-icons-features {
    display: none;
} 
@media screen and (min-width:1158px) {
.container-icons-features {
    background-color: var(--text-footer-color);
    min-width: 264px;
    min-height: 112px;
    display: flex;
    margin-bottom: 8px;
    border-radius: 4px;
    align-items: center;
    justify-content: center; 
    }
.icons-features {
    width: 64px;
    height: 64px;
      }   
}
.features-title {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-align: center;
    margin-bottom: 8px;
}
@media screen and (min-width:768px) {
.features-title {
    text-align: left; 
    }
}
@media screen and (min-width:1158px) {
.features-title {
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    }
}
.features-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
 }
@media screen and (min-width:1158px) {
.features-text {
    font-weight: 400; 
    letter-spacing: 0.02em;
    }
}

/* project-section */

.project {
    display: none;
 }  
 @media screen and (min-width:1158px) {
.secondary-title {
    color: var(--secondary-color);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
        }
.project {
    display: block;
    padding-bottom: 120px; 
        }
}
 

 /* comando-section */

.comando {
    background-color: var(--text-footer-color);
    display: flex;
    margin: 0 auto;
    padding-top: 96px;
    padding-bottom: 96px;
    }
@media screen and (min-width:1158px) {
.comando {
    padding-top: 120px;
    padding-bottom: 120px;       
      }
    }

.comando-list {
    gap: 72px 24px;
    }
  
.secondary-title {
    color: var(--secondary-color);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.comando-container {
    padding: 32px 0;
 }
.comando-fon-secondary {
   background-color: var(--fon-text-color);
   box-shadow: var(--box-shadow-comando-card-color);
   border-radius: 0px 0px 4px 4px;  
 }
.comando-title {
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
 }
.comando-text {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
     }
.icons-comando {
    max-width: 16px;
    max-height: 16px;
    fill: var(--text-footer-color);
    margin: 12px 12px;
} 
.icons-comando-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    justify-content: center;
    background-color: var(--logo-color);
    display: flex;
    align-items: center; 
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    transition-property: background-color;
   
}
.icons-comando-item {
    gap: 24px;
    justify-content: center;
    margin-top: 8px;
}
.icons-comando-link:hover,
.icons-comando-link:focus {
    background-color: var(--active-color);  
} 

/* customer-section */

.customers {
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width:1158px) {
.customers {
    padding-top: 120px;
    padding-bottom: 120px;
    }
}
.customers-item {
    gap: 72px 24px;
}
.customers-link {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid var(--color-icons);
    display: flex; 
    align-items: center; 
    justify-content: center; 
    color:var(--color-icons);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}
.customers-link:hover,
.customers-link:focus {
    border-color: var(--active-color);
    border: 1px solid var(--active-color);
    fill: var(--active-color);

}
.customers-list {
    width: 168px;
    height: 88px;
    display: blok;
    gap: 24px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    transition-property: border, fill;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.icons-customers {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    transition-property: fill;
    margin: 16px 32px;
    fill: currentColor;
}

/* footer */

.footer-section {
    background: var(--secondary-color);
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 96px;
    padding-bottom: 96px;
     }
@media screen and (max-width:1158px) {
.footer-section {
    padding-top: 100px;
    padding-bottom: 100px;
        }
    } 
         
.footer {
    text-align: center;
         }
@media only screen and (min-width: 768px) and (max-width:1157.98px) {
.footer  {
    width: 584px;
  }
}            
@media screen and (min-width:768px) {
.footer {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
              
     }
  }   

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-footer-color);
    max-width: 264px;
    margin-right: 0;
    text-align: left;
    margin: auto;
    }
.logo-footer {
    font-family: 'Raleway', sans-serif;
    color: var(--text-footer-color);
    display: inline-block;
   
     }

.footer-logo-text {
    margin-bottom: 72px;
    
     }
@media screen and (min-width:768px) {
.footer-logo-text {
    margin-right: 24px;
    margin-bottom: 0;         
 }
    } 

@media screen and (min-width:1158px) {
.footer-logo-text {
    margin-right: 120px;        
              }
                  } 
.footer-section .logo {
    margin-bottom: 16px; 
    margin-right: 0;
 
}
.icons-footer {
    max-width: 24px;
    max-height: 24px;
    fill: var(--text-footer-color);
    margin: 8px 8px;
} 
.icons-footer-list {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: var(--logo-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    transition-property: background-color;
}
.icons-footer-list:hover,
.icons-footer-list:focus {
    background-color: var(--color-icons-activ-footer);  
}
.container-footer-social {
   display: flex;
   flex-direction: column;
   min-width: 208px; 
   margin-bottom:72px;
 
} 
@media only screen and (min-width: 1158px) {
.container-footer-social {
    margin-bottom: 0;
  }
}
.footer-text-media{
   font-size: 16px;
   font-family: Roboto;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--fon-text-color);
   margin-bottom: 16px;
  
}

.icons-footer-item {
    gap: 16px; 
}
@media only screen and (min-width: 1158px) {
.footer-form-container {
    margin-left: 80px;
    }
    
}
.footer-form {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
@media only screen and (min-width: 768px) {
.footer-form {
    flex-wrap: nowrap; 
    
    }
}
.footer-form-text {
    color: var(--fon-text-color);
    font-size: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}
.footer-lable {
    width: 100%;
}
.footer-input-email {
    width: 398px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--fon-text-color);
    box-shadow: 0px 4px 4px 0px var(--box-shadow-hero-bt-color);
    background-color: transparent;
    color: var(--fon-text-color);
    font-size: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.48px;
    outline: none;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
@media only screen and (min-width: 768px) {
.footer-input-email  {
    width: 264px;
  }
}
.footer-btn-subscrib {
    min-width: 165px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: inline-flex;
    padding: 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 4px;
    background:var(--logo-color);
    border: none;
    color:var(--fon-text-color);
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    transition-property: background-color;
    margin: 0 auto;
}
.footer-btn-subscrib:hover,
.footer-btn-subscrib:focus {
    background-color: var(--active-color);
}
@media only screen and (min-width: 768px) {
.footer-btn-subscrib{
    margin: 0;
  }
}
.footer-icon-frame {
    fill: var(--fon-text-color);
}

/* portfolio */

.portfolio {
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 0;
   
  }

@media only screen and (min-width: 768px) {
.portfolio {
    padding-top: 64px;
    padding-bottom: 96px;
    justify-content: center;
   
  }
} 
@media only screen and (min-width: 1158px) {
.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
  }
}    
.portfolio-menu {
    justify-content: left;
    margin-bottom: 48px; 
    gap: 24px;
    
    }
@media only screen and (min-width: 768px) {
.portfolio-menu  {
    margin-bottom: 64px; 
    justify-content: center;
  }
} 
@media only screen and (min-width: 1158px) {
.portfolio-menu  {
    margin-bottom: 72px; 
    }
  }   
.portfolio-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: var(--text-footer-color);
    border: 1px solid var(--border-portfolio-color);
    color: var(--logo-color);
    cursor: pointer;
    border-radius: 4px;
    height: 48px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
      }
@media only screen and (min-width: 768px) {
.portfolio-button  {
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;     
       }
     }
.portfolio-list {
    transition-property: color, background-color, border ;
    transform: translateY(0%);
  }
.portfolio-button:hover,
.portfolio-button:focus {
    background: var(--active-color);
    color: var(--fon-text-color);
    border: 1px solid transparent;
    box-shadow: var(--box-shadow-portfolio-button);
  }
.portfolio-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
    box-shadow: var(--box-shadow-comando-card-color);
  }
.portfolio-project {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.portfolio-link {
    position: relative;  
    overflow: hidden;
}
.portfolio-img {
    max-width: 396px;
    max-height: 280px;
}

@media only screen and (min-width: 768px) {
.portfolio-img {
    max-width: 356px;
    max-height: 300px;
  }
}
@media only screen and (min-width: 1158px) {
.portfolio-img {
    max-width: 360px;
    max-height: 300px;
      }
    }
.overlay{
    background-color: var(--logo-color);
    color: var(--text-footer-color);
    font-family: sans-serif;
    display: flex;
    width: 296px;
    text-align: center;
    font-size: 16px;
    font-family: Roboto;
    line-height: 1.5;
    letter-spacing: 0.32px;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  
    transform: translateY(100%); 
    transition: transform 250ms ease-in-out; 
    transition-property: transform;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
.portfolio-item:hover .overlay,
.portfolio-item:focus .overlay {
    transform:  translateY(0%); 
  }
.portfolio-project-menu {
    row-gap: 48px;   
}
@media only screen and (min-width: 768px) and (max-width: 1158px) {
    .portfolio-project-menu {
       justify-content: space-between;
       align-items: flex-start;
      }
    }
.portfolio-title {
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.portfolio-text {
    color: var(--brand-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translateY(0%);
 }     
.portfolio-card {
    background: var(--fon-text-color);
    border: 1px solid var(--border-portfolio-color);
    border-top: none;
    padding: 32px 16px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
}

 
/* modal-window */

.backdrop {
    position: fixed;
    width: 100%;
    height:100%;
    top: 0;  
    left: 0; 
    background-color: var(--background-backgrop);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
.is-hidden {
    visibility:hidden;
    opacity: 0;
    pointer-events: none;
 } 
.modal {
    width: 300px;
    min-height: 584px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) scale(1); 
    border-radius: 4px;
    background: var(--modal-fon);
    box-shadow:var(--box-shadow-modal);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 10px 24px 10px; 
 } 
@media only screen and (min-width: 428px) {
   .modal {
    width: 392px;
    padding: 72px 16px 24px 16px; 
  }
} 
@media only screen and (min-width: 768px) {
.modal {
    width: 408px;
    padding: 72px 24px 24px 24px; 
  }
}

.icons-modal {
    align-items: center;
    fill:var(--secondary-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.modal-btn:hover .icons-modal, 
.modal-btn:focus .icons-modal {
    fill: var(--fon-text-color);
}
.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center; 
    justify-content: center; 
    background-color: var(--border-portfolio-color);
    border: 1px solid var(--border-modal-btn);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--active-color);
    border: none;
 }
.modal-text {
    color: var(--secondary-color);
    text-align: center;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
 }
.form-container {
    width: 280px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;
 }
 @media only screen and (min-width: 428px) {
    .form-container {
        width: 360px; 
   }
 }

.modal-form {
    font-size: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.48px;
    color: var(--color-icons);

 }
 
.form-label {
    margin-left: 24px;
    line-height: 1.17;
    display: block;
    margin-bottom: 4px;
  }
  
.form-input {
    display: inline-block;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    height: 40px;
    font-family: inherit;
    transition-property: border;
    padding-left: 38px;
    width: 100%;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.form-input:focus-within {
    border: 1px solid var(--logo-color);
    outline: none;
  }
.comment-text {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17; 
    letter-spacing: 0.04em; 
    color: rgba(46, 47, 66, 0.4); 
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: inline-block;
    justify-content: center;
    align-items: center;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 8px 16px;
    outline: transparent; 
    resize: none; 
  }
.icons-checkbox {
    fill: var(--secondary-color);
    position: absolute;
    left: 16px ;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }  
.form-label {
    position: relative;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    transition-property: fill;
    margin-left: 0;
  }
.user-form-container {
    position: relative;
  }
.user-form-container:focus-within .icons-checkbox {
    fill: var(--logo-color);
  }
  
.comment-text:focus-within {
    border: 1px solid var(--logo-color);
    outline: none;
  }
.comment {
    margin-bottom: 16px;
  }
.modal-checbox-container {
    margin-bottom: 24px; 
  }
.clic{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;

  }
.checkbox-link {
    color: var(--logo-color);
  }
 
 .form-label-checkbox{
    font-size: 12px;
    line-height: 1.17; 
    letter-spacing: 0.04em;
    color: var(--color-icons);
 }

 .modal-chekbox-option {
    width: 16px; 
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    fill: transparent;
   
 }
.modal-chekbox-option:hover {
    border-color: var(--border-color-click-hover);
 } 
.clic:checked + .form-label-checkbox .modal-chekbox-option  {
    border: none;
    background-color: var(--active-color);  
    fill:var(--text-footer-color); 
 }
.send-btn {
    min-width: 169px;
    height: 56px;
    font-size: 16px;
    font-family:"Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--fon-text-color);
    text-align: center;
    border-radius: 4px;
    background: var(--logo-color);
    box-shadow: 0px 4px 4px 0px var(--box-shadow-hero-bt-color);
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block; 
    margin-left: 64px;
  }
.send-btn:hover,
.send-btn:focus {
    background: var(--active-color);
  }
  @media only screen and (min-width: 428px) {
.send-btn  {
    margin-left: 95px;
    }
  }

 /* mobile-menu */

 .menu-toggle {
    min-height: 24px;
    min-width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
  }
.icon-burger {
    fill: var(--secondary-color);
  }
.menu-toggle.js-close-menu {
    background-color:var(--border-portfolio-color);
  }
@media (min-width: 768px) {
.menu-toggle {
    display: none;
    }
  }
  
.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
.menu-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 35px;
    background-color: var(--fon-text-color);
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }
  
.menu-container.is-open {
    transform: translateX(0);
  }
  
.menu-container .menu-toggle {
    position: absolute;
    top: 24px;
    right: 16px;
    color: var(--secondary-color);
  }
  
.mobile-menu {
    flex-direction: column;
    align-items: start;
    gap: 40px;
    margin-bottom: auto;
    width: fit-content;
    
}
.icons-mobile {
    fill: var(--secondary-color);
}
.icons-mobile-list {
    width: 40px;
    height: 40px;
}

.mobile-menu-contact {
    flex-direction: column;
    align-items: start;
    margin-bottom: 48px;
    gap: 40px;
   
}
.tel {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    color: var(--logo-color);
    gap: 40px;
}
@media only screen and (min-width: 428px){
.tel {
    font-size: 36px;
  }
}
.mail {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: var(--brand-color);
}

.icons-mobile-sosial {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
   
}
@media only screen and (min-width: 428px){
    .icons-mobile-sosial {
    gap: 56px;
    }
    }
.icons-mobile-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    justify-content: center;
    background-color: var(--logo-color);
    display: flex;
    align-items: center; 
}
.icons-mobil-svg {
    fill: var(--text-footer-color);
}